
ol, ul {
	list-style: none;
}

a { 
	color:inherit; 
	text-decoration: none;
}
a:hover { 
	color:inherit; 
	text-decoration: none;

}



/*HY!*/



body{


	font-family: /*'AppleSDGothicNeo-Regular', */'PT Sans', sans-serif;

	padding-top: 1em;
	color: #3D3D3E;

}






/*Position & size classes*/



.center{

	margin-left: auto;
	margin-right: auto;
}


.full-width{
	max-width: 900px;
	padding-left: 8.33%;
	padding-right: 8.33%;

}

.flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.light-background{
	background-color: #F9F9F9;
}


.b-padding{

	margin-bottom: 6em;
}


.gallery-image-gif-1{
	max-height: 10em;
	height: 15vw;
	min-height: 9em;
	padding: 5em 0;
}




/*font color size*/

.back-button{
	padding: .5em 0em; 
}

.mega-title{
	font-size: 6em;
	font-weight: 800;
	line-height: 90%;
}


.head{
	line-height: 0;

}


.fill{
	font-size: 1em;
	font-weight: 300;
	color: #bbbabc;
	line-height: 0;
	margin-bottom: 2.4em;

}

.content{
	padding-bottom: 6em;
}

.image-container{
	max-width: 100%;
	
	padding-bottom: 6em;

}

.image{
	max-width: 100%;
}








/*device toggle*/


@media only screen and (max-width: 1440px) {

    .full-width{
	max-width: 768px;
	padding-left: 8.33%;
	padding-right: 8.33%;

	}



}


@media only screen and (max-width: 600px) {



	.content{
	padding-bottom: 3em;
	}

	.image-container{
	
	padding-bottom: 3em;

	}


}










