
/*menu*/
.menu{
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin-top: 5em;
  margin-bottom: 3em;

  font-size: 1em;
  color: #bbbabc;

}

.content-title{
  font-weight: 600;
  font-size: 1.5em;
}

.menu-item{
  margin-right: 4em;
  margin-bottom: 4em;
}


/*.selected-menu{
  color: #3D3D3E;
  font-weight: 800;
}
*/
.selected-menu{
 color: #fff;
font-weight: 600;


padding: .5em 1em .4em 1em;
border-radius: 3em;

background: rgb(46, 121, 255);
box-shadow: 0px 8px 20px rgba(46,121,255,.4)

/*
background: #000;
box-shadow: 0px 8px 20px rgba(0,0,0,.4)
*/
}

/*size scale stuff*/



$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px


$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";



$base-font-size: 1em;


$base-line-height: 1.5;
$header-line-height: 1.25;




body {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}




@media only screen and (max-width: 1440px) {

    .full-width{
  max-width: 860px;
  padding-left: 8.33%;
  padding-right: 8.33%;

  }

  .flex-item{
  display: inline-block;
  width: 47%;
  padding-bottom: 8%;
  }


  .flex-item-full-width{
  display: inline-block;
  max-width: 400px;
  width: 47%;

  padding-bottom: 3%;
}

}

.mega-title{
  font-size: 6em;
  font-weight: 800;
  line-height: 90%;
}

.mega-ariticle-title{
   font-size: 5em;
  font-weight: 800;
  line-height: 90%;
}


.quote{

    font-size: 2.6em;
    font-weight: 200;


  }


  .strong-quote{
    font-weight: 700; 
  }


  .sign{

  font-size: 1em;
  font-weight: 300;
  color: #bbbabc;

}

/*background paper texture*/

/*body{
  background-image: url('../images/lightpaperfibers_@2X.png');
  background-size: 50%;
}
*/

@media only screen and (max-width: 600px) {

  body{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 2em;
  }

  .full-width{
  padding-left: 4.15%;
  padding-right: 4.15%;
}

    .flex-item{
  display: inline-block;
  width: 100%;
  padding-bottom: 8%;
  }

  .menu{

  font-size: 1.1em;
  margin-top: 4em;
  margin-bottom: 2em;


  }

  .menu-item{
  margin-right: 2em;
  margin-bottom: 2em;
}


/*Used in Article Pages*/

  .content{
  padding-bottom: 3em;
  font-weight: 400;
  }

  .image-container{
  
  padding-bottom: 3em;

  }

  .back-button{
  max-width: 3em; 
  padding: .5em 0em; 
  margin-bottom: 0em; 
}


  .back-button{
  max-width: em; 
  padding: .5em 0em; 
  margin-bottom: 0em; 
}

  .mega-title{
    font-size: 0em;

  }

 .mega-ariticle-title{
   font-size: 3em;
  font-weight: 700;
  line-height: 100%;
}

  .flex-item-full-width{
  display: inline-block;
  max-width: 400px;
  width: 100%;
  padding-bottom: 3%
  } 

  .date{
    font-weight: 400;
  }

  .project-name{
    line-height: 70%;
  }

}