/* Inital Styles */


/* Color */

.color-brand {
    background-color: #547EFF;
}

.color-bluishGray {
    background-color: #65708A;
}

.color-success {
    background-color: #6BB81F;
}

.color-warning {
    background-color: #FF6546;
}

.color-error {
    background-color: #FF6060;
}

.color-red {
    background-color: #FF4948;
}

.color-white {
    background-color: #FFF;
}

.color-dark {
    background-color: rgba(0, 0, 0, .87);
}


/* Text Scaling */

.h1 {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 600;
}

.h2 {
    padding-top: 40px;
    font-size: 24px;
    font-weight: 600;
}

.h3 {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
}

.h4 {
    padding-top: 40px;
    font-size: 18px;
    font-weight: 600;
}

.h5 {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 600;
}

.text-l {
    font-size: 18px;
}

.text-m {
    font-size: 16px;
}

.text-s {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}


/* Border Radius */

.radii-l {
    border-radius: 12px;
}

.radii-m {
	border-radius: 8px;
}

.radii-s {
    border-radius: 4px;
}

.radii-xs {
    border-radius: 2px;
}

.radii-cap {
    border-radius: 300px;
}

/*Border*/

.border-m {
	border: 1pt;
}

.border-s {
	border: .5pt;
}


/* Shadow */

/*.shadow-xl {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .1);
}
*/

.shadow-l {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .1);

}

.shadow-m {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);

}

.shadow-s {
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
}


/* Spacing Scale */


/* Vertical Spacing */

.spacingV-40 {
    padding-top: 40px;
}

.spacingV-36 {
    padding-top: 36px;
}

.spacingV-32 {
    padding-top: 32px;
}

.spacingV-28 {
    padding-top: 28px;
}

.spacingV-24 {
    padding-top: 24px;
}

.spacingV-20 {
    padding-top: 20px;
}

.spacingV-16 {
    padding-top: 16px;
}

.spacingV-12 {
    padding-top: 12px;
}

.spacingV-8 {
    padding-top: 8px;
}

.spacingV-4 {
    padding-top: 4px;
}


/* Horizontal Spacing */

.spacingH-20 {
    padding-left: 20px;
}

.spacingH-16 {
    padding-left: 16px;
}

.spacingH-12 {
    padding-left: 12px;
}

.spacingH-8 {
    padding-left: 8px;
}