@media only screen and (max-width: 850px) {
    .header {
        position: fixed;
        left: 0;
        padding: 0px 60px;
        height: 60px;
        min-height: 60px;
        z-index: 0;
    }
    .media-navigator {
        display: flex;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
        padding: 0px 60px;
        margin-top: 60px;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .media-menu-icon {
        display: flex;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .header-menubar-container {
        display: none;
    }
    .container {
        min-width: 320px;
    }
    .side-bar {
        display: none;
        position: fixed;
        background: white;
        padding: 60px 40px 40px;
        width: 240px;
        top: 0px;
        left: 0px;
        z-index: 999;
        transform: translateX(-360px) translateY(0px);
        transition: transform 0.3s ease-out;
    }
    .content-wrapper {
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
    }
    .content-content {
        padding-top: 0px;
    }
    #mask {
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: all 0.3s;
    }
    #side-bar-r {
        display: none;
        flex-direction: column;
        right: 0;
        top: 0;
        position: fixed;
        width: 320px;
        height: 100vh;
        background: white;
        box-sizing: border-box;
        transform: translateX(360px) translateY(0px);
        transition: transform 0.3s ease-out;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 0px 30px;
    }
    .media-navigator {
        padding: 0 30px;
    }
    .content {
        padding: 0;
    }
    .card {
        padding: 0px 0px 80px;
    }
    .content-nav {
        display: none;
    }
    #side-bar-r {
        display: none;
        height: auto;
        top: auto;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: white;
        box-sizing: border-box;
        transform: translateY(100vh) translateX(0px);
        transition: transform 0.3s ease-out;
    }
    .side-bar {
        display: none;
        position: fixed;
        background: white;
        padding: 60px 40px 40px;
        width: 100%;
        top: 44px;
        left: 0;
        z-index: 999;
        transform: translateX(0px) translateY(100vh);
        transition: transform 0.3s ease-out;
    }
}