    /* pageWithMap */
    
    .frame {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        background: var(--color-basefill-gray);
    }
    
    .page {
        display: flex;
        flex-direction: flex-start;
        padding: 0 20px 40px;
        box-sizing: border-box;
        position: absolute;
        justify-content: center;
        left: 0;
        transform: translateZ(0px) translateY(-12px);
        background: white;
        width: 100%;
        box-shadow: var(--shadow-m);
        border-radius: var(--radius-l);
        border-radius: 12px 12px 0 0;
    }
    
    .media {
        width: 100%;
        height: 40vw;
        /* max-height: 600px; */
        background: url('https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/46/1479380052-jimmi-simpson-william-evan-rachel-wood-dolores.jpg') no-repeat;
        background-size: cover;
        transform: translateZ(-1px) translateY(-33vh) scale(2.4);
    }
    
    .contentFrame {
        max-width: 720px;
        width: 100%;
    }
    
    @media only screen and (max-width: 599px) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            .pageContent {
                display: flex;
                padding-left: 20px;
                padding-right: 20px;
            }
            .media {
                height: 80vw;
                transform: translateZ(-1px) translateY(-28vh) scale(2.2);
            }
            .col-s {
                grid-template-columns: auto auto !important;
                grid-column-gap: 10px;
            }
            .col-m {
                grid-template-columns: auto auto !important;
                grid-column-gap: 10px;
            }
            .col-l {
                padding-top: 20px;
                display: grid;
                width: 100%;
                grid-template-columns: auto !important;
                grid-column-gap: 20px;
            }
        }
    }